.application{
  width: 100%;
}

.myName {
  text-align: center;
  letter-spacing: 30px;
  margin-top: 40px;
}

.letterV{
  margin-left: 20px;
  opacity: 100%;
}

.vfischer{
  height: 45rem;
  margin-top: 20px;
}

.navigate{
  background-color: lightgray;
}

.about{
  margin-top: 400px;
  margin-bottom: 1500px;
  text-align: center;
}

#projects{
  margin-top: 1500px;
  text-align: center;
}

#contact{
  margin-top: 1200px;
  text-align: center;
  margin-bottom: 1000px;
}

#resume{
  margin-top: 1100px;
  text-align: center;
}

.covidAppImg{
  height: 13rem;
  border: gray;
  border-style: solid;
  border-width: 1px;
}

.cinemafiImg{
  height: 13rem;
  border: gray;
  border-style: solid;
  border-width: 1px;
}

.pomodoroImg{
  height: 13rem;
  border: gray;
  border-style: solid;
  border-width: 1px;
}

#copyright{
  height: 0.8rem;
}

.contactPic{
  height: 2rem;
}

.cards{
  margin-top: 30px;
  justify-content: center;
  display: inline-flex;
}

.card{
  margin-right: 40px;
  width: 20rem;
}

.navItem{
  cursor: pointer;
}

.resumeEmbed{
  height: 70rem;
  width: 55rem;
}

.clickable{
  cursor: pointer;
}

.footer {
  background-color: white;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.sticky {
  opacity: 60%;
  position: -webkit-sticky;
  position: -moz-sticky;
  position: -ms-sticky;
  position: -o-sticky;
  position: sticky;
  top: 10px;
  z-index: 100;
}

.resumeName{
  text-align: center;
  letter-spacing: 30px;
  margin-top: 40px;
}

.bordered{
  border: black solid 2px;
  width: 75%;
  margin: auto;
}

.resumeContact{
  font-size: 12px;
}

.resumeHead{
  text-align: start;
  margin-left: 6rem;
  margin-top: 20px;
  margin-bottom: 0;
}

.resumeBullet{
  text-align: start;
  margin-left: 6rem;
  margin-top: 0;
  margin-bottom: 0;
}

.resumeDesc{
  text-align: start;
  margin-left: 6rem;
  margin-right: 2rem;
  margin-top: 0;
  margin-bottom: 0;
}

.left{
  float: left;
  margin-left: 6rem;
}

.right{
  float: right;
  margin-right: 6rem;
}

.clear{
    clear:both;
}

.list{
  margin-right: 6rem;
}


/* // Small devices (landscape phones, 320px and up) */
@media (min-width: 319px) { 
  .myName{
    color: black;
    font-size: 45px;
    text-align: center;
    letter-spacing: 14px;
    margin-bottom: 15px;
  }

  .vfischer{
    height: 10rem;
    margin-top: 20px;
  }

  .navigate{
    height: 6rem;
    padding: 12px;
  }

  .line{
    margin: 0;
  }

  .letterV{
    height: 3rem; 
    opacity: 100%;
  }

  .about{
    margin-top: 100px;
    font-size: 12px;
  }

  .card{
    width: 100%;
    margin-bottom: 10px;
  }

  .cards{
    margin-top: 10px;
    display: block;
  }

  #projects{
    margin-top: 300px;
  }

  #contact{
    margin-top: 600px;
  }

  .resumeEmbed{
    width: 30%;
    height: 40%;
  }

  #resume{
    margin-top: 375px;
    margin-bottom: 400px;
  }

  .footer{
    font-size: 12px;
    text-align: center;
  }
 }

 @media only screen and (max-width: 767px) {
  #resumeComponent {
      display: none;
  }
  #resume::after{
    content: "Please view on a larger resolution.";
  }
}

 /* // Medium devices (tablets, 767px and up) */
@media (min-width: 767px) { 
  .myName{
    color: black;
    font-size: 45px;
    text-align: center;
    letter-spacing: 16px;
    margin-bottom: 15px;
  }

  .line{
    margin: 0;
  }

  .vfischer{
    height: 35rem;
    margin-top: 20px;
  }

  .footer{
    font-size: 14px;
    text-align: center;
  }

  .navigate{
    padding: 50px;
  }

  .letterV{
    height: 4rem;
    opacity: 100%;
  }


  .about{
    margin-top: 200px;
    font-size: 15px;
  }

  #projects{
    margin-top: 500px;
  }

  .cards{
    margin-top: 30px;
    justify-content: center;
    display: inline-flex;
  }
  
  .card{
    margin-right: 5px;
    width: 100%;
  }

  .resumeEmbed{
    width: 50%;
    height: 500px;
  }
  
  #resume{
    margin-top: 600px;
    text-align: center;
    margin-bottom: 600px;
  }
 }

 /* // Extra large devices (laptops, 1023px and up) */
@media (min-width: 1023px) { 
  .myName{
    color: black;
    font-size: 45px;
    text-align: center;
    letter-spacing: 25px;
    margin-bottom: 15px;
  }

 .line{
    margin: 0;
  }

  .letterV{
    height: 4rem;
    opacity: 100%;
  }

  .about{
    margin-top: 200px;
    font-size: 16px;
  }


  #projects{
    margin-top: 500px;
    margin-bottom:0;
  }

  .cards{
    margin: 2px;
    justify-content: center;
    display: inline-flex;
  }
  
  .card{
    margin-right: 9px;
    width: 100%;
  }

  #contact{
    margin-top: 800px;
  }
  
  #resume{
    margin-bottom: 350px;
  } 
 }

 /* // Extra large devices (large desktops, 1439px and up) */
@media (min-width: 1439px) { 
  .myName{
    color: black;
    font-size: 45px;
    text-align: center;
    letter-spacing: 28px;
    margin-bottom: 15px;
  }

  .navigate{
    padding: 150px;
  }

 .line{
    margin: 0;
  }

  .letterV{
    height: 4rem;
    opacity: 100%;
  }

  .about{
    margin-top: 200px;
    font-size: 16px;
  }

  #projects{
    margin-top: 500px;
    margin-bottom:0;
  }

  .cards{
    margin: 2px;
    justify-content: center;
    display: inline-flex;
  }
  
  .card{
    margin-right: 9px;
    width: 100%;
  }

  #contact{
    margin-top: 800px;
  }
  
  #resume{
    margin-bottom: 320px;
  } 
 }

  /* // 4k devices (2559px and up) */
@media (min-width: 2559px) { 
  .myName{
    color: black;
    font-size: 45px;
    text-align: center;
    letter-spacing: 35px;
    margin-bottom: 15px;
  }

  .navigate{
    padding: 150px;
  }

 .line{
    margin: 0;
  }

  .letterV{
    height: 6rem;
    opacity: 100%;
  }

  .about{
    margin-top: 200px;
    font-size: 25px;
  }

  .head{
    font-size: 45px;
  }

  #projects{
    margin-top: 900px;
    margin-bottom:0;
    font-size: 30px;
  }

  .card{
    width: 40%;
    margin-bottom: 10px;
  }

  .cards{
    margin-top: 10px;
    display: inline-flex;
  }

  #contact{
    margin-top: 800px;
    font-size: 30px;
  }

  .contactPic{
    height: 4rem;
  }
  
  #resume{
    margin-bottom: 400px;
  } 
 }